.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(5px);
}

.footerLinks i {
    margin: 0px 5px;
}