.formContainer {
    position: absolute;
    left: 23%;
    top: 1%;
    width: fit-content;
    height: fit-content
}

.advSearchForm {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

.inputSwitchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
    background: #052962;
}


.p-card-content {
    padding: 0;
}

.p-card-body {
    padding: 2%;
}

.searchBtn {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #052962;
}

.categoryOptions {
    display: flex;
    align-items: center;
}

.articleTableContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.articleTableCard {
    width: 75%;
    border-radius: 10px;
}

.articleTable {
    width: 100%;
}

.articleImg {
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.articleTableHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2px;

}

.headerTitle {
    font-weight: bold;
    font-size: 1.75rem;
}

.articleTableTitle {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.advSearchInput:hover {
    border: 1px solid #052962;
}

.p-inputnumber-input:hover {
    border: 1px solid #052962;
}

.categoryOptions:hover {
    border: 1px solid #052962;
}