.formContainer {
    position: absolute;
    left: 30%;
    top: 1%;
    width: 35%;
    height: fit-content;
}

.advSearchFormGrid {
    display: grid;
    grid-template-rows: repeat(2, 1fr) 1fr;
    grid-template-columns: repeat(2, 35%);
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

.inputSwitchContainer {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: 1fr, 1fr;
    height: 50px;
}

.inputSwitchContainer p {
    text-align: left;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.inputSwitch {
    margin: 0;
    padding: 0;
}


.searchBtn {
    grid-column: 1 / span 2;
    padding: 10px;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
}

.categoryOptions {
    display: flex;
    align-items: center;
}

.articleTableContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
}

.articleTableCard {
    width: 75%;
    border-radius: 10px;
}

.articleTable {
    width: 100%;
}

.articleImg {
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.articleTableHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2px;

}

.headerTitle {
    font-weight: bold;
    font-size: 1.75rem;
}

.articleTableTitle {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}